body{
    display: flex;
    justify-content: center;
}
.ear{
    margin-left: 10px;
    width: 50px;
    top: 5px;
    display: inline-flex;
    justify-content: space-around;
}
.ear >.left, .ear>.right{
width: 15px;
height: 50px;
background-color: rgb(189, 148, 189);
background: linear-gradient(to top , white, rgb(192, 159, 192));
box-sizing: border-box;
border: 5px solid #eee;
border-radius: 10px/20px;
}
.ear > .left{
animation: hamove2 3s ease-in-out infinite;
transform: rotate(-8deg);
}
.ear > .right{
    animation: hamove 3s ease-in-out infinite;
transform: rotate(8deg);
}
.face{
    top: 5px;
max-width:68px; 
margin-top: -15px;
position: relative;
z-index: 1;
}
.face > .one{
margin: 0 auto;
width: 45px;
height: 30px;
border-radius: 30px;
background-color: #eee;
background: linear-gradient(to bottom , #eee, white);
}
.face > .two{
width: 65px;
height: 40px;
border-radius: 40px;
margin-top:-17px; 
margin-left: 2px;
background: linear-gradient(to bottom ,white, #ccc);
}
.eyes{
margin-left: 18px;
width: 30px;
display: inline-flex;
justify-content: space-between;
}
.eyes > .left, .eyes > .right{
width: 7px;
height: 12px;
padding-left: 2px; 
padding-top: 2px;
box-sizing: border-box;
background-color: rgb(39, 38, 38);
border-radius: 6px/10px;
box-shadow: 0px 0px 2px 2px #ddd; 
}
.eyes > .left::before, .eyes > .right::before{
background-color: #ccc;
height: 3px;
width: 3px;
font-size: 1px;
display: block;
border-radius: 1.5px;
content: '';
}
.nose{
width: 8px;
height: 6px;
border-radius: 5px/3px;
background-color: rgb(141, 120, 141);
display: block;
margin: 0 auto;
/* content: '2'; */
}
.nose::before{
background-color: #fff;
height: 2px;
width: 2px;
margin-left:3px;
display: block;
border-radius: 3px;
content: '';
box-shadow: 0px 0px 2px 2px #fff; 
}
.teeth{
margin-top: -10px;
margin-left: 30px;
}
.teeth > div{
width: 3px;
height: 5px;
/* padding-left: 2px;  */
/* padding-top: 2px; */
box-sizing: border-box;
background-color: #fff;
border-radius: 3px/6px;
border-top-left-radius: 0;
border-top-right-radius: 0; 
display: inline-block;
}
.body{
    width: 65px;
    height: 88px;
    position: relative;
    left: 2px;
	box-shadow:inset 0 0 8px 2px #bbb;
    /* background-color: #; */
background: #eee;    
    border-top-left-radius: 50% 60%;
  border-top-right-radius: 50% 60%;
  border-bottom-left-radius: 50% 40%;
  border-bottom-right-radius: 50% 40%;
}
.hand{
    width:22px;
	height:12px;
    margin:0px auto 0 auto;
	display:block;
    position:relative;
    top:-56px;
    z-index: 2;
}
.hand:before,
.hand:after{
    background-color:#eae8e8;
	box-shadow:inset 0 0 8px 2px #aeaeae;    
	content:"";
	width: 20px;
	height:18px;
    bottom:0;
    /* border: 1px solid #aaa; */
    left: -29px;
	display:block;
	position:absolute;
	border-radius:50%;
    }
.hand:after{
top: -9px;
left: 17px;
}  
.foot{
    width:20px;
	height:10px;
	margin:0px auto 0 auto;
	display:block;
	position:relative
}
.foot:before,
.foot:after{
	background-color:#eae8e8;
	background-repeat:no-repeat;
	content:"";
	width: 25px;
	height:45px;
    bottom:0;
    left: -21px;
    top: -50px;
	display:block;
	position:absolute;
    border-radius:50%;
    z-index: 1;
	box-shadow:inset 0 0 8px 2px #aeaeae;
}
.foot:after{
left: 17px;
}    

@keyframes hamove2 {
0%, 100%	 {transform:  rotate(-12deg)}
50% {transform:  rotate(-17deg)}
75% {transform:  rotate(-12deg)}

}

@keyframes hamove {
    0%, 100% 	 {transform:  rotate(12deg)}
50% {transform:  rotate(17deg)}
75% {transform:  rotate(12deg)}


}
.carrotw{
transform: rotate(-8deg);
}
.sub{
    position: relative;
  }

.carrot{
    width: 3px;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 65px solid #f68831;
    border-radius: 28%; 
    position: relative;
top: -95px;
left: 6px;
}

.leaf{
width: 4px;
height: 20px;
background-color: green;
position: absolute;
top: -124px;
left: 16px;
margin-top: 20px;
}
.leaf::after{
content: '';
  width: 4px;
height: 10px;
background-color: green;
position: absolute;
top: 0px;
left: 6px;
transform: rotate(20deg);
}
.leaf::before{
content: '';
  width: 4px;
height: 10px;
background-color: green;
position: absolute;
top: 0px;
left: -6px;
transform: rotate(-20deg);
}
.claw{
    width: 1px;
    height: 10px;
    background-color: rgb(192, 159, 192);
    position: absolute;
    margin-top: 20px;
    top: 129px;
    left: 48.1%;
    z-index: 999;
    }
    .claw::after{
    content: '';
    width: 1px;
    height: 10px;
    background-color: rgb(192, 159, 192);
    position: absolute;
    top: 1px;
    left: 5px;
    transform: rotate(5deg);
    }
    .claw::before{
    content: '';
    width: 1px;
    height: 10px;
    background-color: rgb(192, 159, 192);
    position: absolute;
    top: 0px;
    left: -4.5px;
    transform: rotate(-5deg);
    }
    .claw2{
        left: 51.9%;
    }
